.idea
build
cmake-build-debug
cmake-build-release
node_modules
docs/.vitepress/dist
docs/.vitepress/cache
**/target
**/build
**/bench_fiber
**/upstream
**/.zig-cache
**__pycache__
**/bin
**/settle-failures.jsonl
**/zig-out